/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 .center {
  margin-top: 3em;
 }

.name h1 {
  font-family: 'Codystar', cursive;
  margin-right: 1.5em !important;
  font-size: 2em !important;
}

.top-bar-section ul{
  margin-right: 50px;
}

.title-area {
  margin-left: 50px;
}

 .button {
  background-color: #79CACE;
 }

#remember_me {
  float: left;
  margin-right: 1em
}
