/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
h3 {
  color: #687A96 !important;
}

 .clear {
  clear: both;
 }

.campaign {
  /*height: 30em;
  overflow: scroll;*/
  margin-bottom: 1.5em;
  margin-right: 1em;
  max-width: 400px;
}

 .campaign ul {
  list-style: none;
  margin: 0;
}

.campaign-image {
  width: 100%;
  height:194px;
  background-color: #D8D2C0;
}

.campaign-image-large {
  width: 100%;
  height:400px;
  background-color: #D8D2C0;
}

 .campaign-description {
  font-size: .9em;
  color: #616161;
  margin-bottom: 10px;
 }
 .campaign-index-tags {
  font-size: .9em;
  margin: .5em 0;
 }

 .center {
  margin-top: 1.5em;
  text-align: center;
 }

 .center h1 {
  margin: 0;
 }

.total-raised, .total-percent, .days-left {
  float: left;
  padding-right: 1.5em;
 }

 .total-raised p, .total-percent p, .days-left p {
    margin: 0;
  }

 .sub-p {
    color: #9E9E9E;
    font-size: .75em;
    margin: 0 0 .5em 0;
 }

 .name {
    /*margin-right: 1em !important;*/

 }

.name a{
  font-family: 'Codystar', cursive;
  font-size: 2em;
  color: #fff;
  margin-bottom: 0;
}
.name a:hover{

  color: #fff;

}

.name p{
  margin: .85em 0 0 1em;
}

.title-area {
  margin-left: 50px;
}

 .button {
  background-color: #79CACE;
  margin: 0;
 }

#remember_me {
  float: left;
  margin-right: 1em
}

.show-body {
  background-color: #fff;
  padding: 20px;
}

.show-right ul {
  list-style: none;
}

.show-left ul {
  list-style: none;
}

.show-total h2 {
  margin-bottom: .2em;
}

.line-separator{
  height:1px;
  width: 66%;
  border-bottom: 1.5px solid #DDDDDD;
}

.line-separator-full{
  height:1px;
  width: 100%;
  border-bottom: 1.5px solid #DDDDDD;
}

.breakpoint {
  padding: 10px;
  margin: 15px 0;
  border: 3px solid #DDDDDD;
  border-radius: 20px;
  width: 80%;
}

.backed {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 10px 0 0 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1em;
  font-size: .9em;
  background-color: #0ECA42;
  border-color: #34CC4D;
  color: white;

}

.show-body {
  border-radius: 20px;
}

.index-campaign-body {
  padding: 10px;
  background-color: #fff;
}

.progress {
  margin-top: 10px;
}
