/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 .clear {
  clear: both;
 }

.campaign {
  /*height: 30em;
  overflow: scroll;*/
  margin-bottom: 1.5em;
  width: 240px;
}

 .campaign ul {
  list-style: none;
  margin: 0;
}

.campaign-image {
  width: 240px;
  height:194px;
  background-color: #D8D2C0;
}

 .campaign-description {
  font-size: .9em;
  color: #616161;
 }
 .campaign-index-tags {
  font-size: .9em;
  margin: .5em 0;
 }

 .center {
  margin-top: 3em;
 }

.total-raised, .total-percent, .days-left {
  float: left;
  padding-right: 1.5em;
 }

 .total-raised p, .total-percent p, .days-left p {
    margin: 0;
  }

 .sub-p {
    color: #9E9E9E;
    font-size: .75em;
    margin: 0 0 .5em 0;
 }

.name h1 {
  font-family: 'Codystar', cursive;
  margin-right: 1.5em !important;
  font-size: 2em !important;
}

.title-area {
  margin-left: 50px;
}

 .button {
  background-color: #79CACE;
 }

#remember_me {
  float: left;
  margin-right: 1em
}

