<h1>All campaigns</h1>
<div class="pagination-centered">
  <%= link_to paginate @campaigns %>
</div>
  <ul id="campaigns" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <%= render @campaigns %>
  </ul>
<div class="pagination-centered">
  <%= link_to paginate @campaigns %>
</div>
